<% provide(:title, 'About Us') %>
<h1> About Us </h1>
<p>
	xFICI was developed by Ariel Umansky in the context of a process of training in Ruby on Rails.
</p>
<p>
	Anyone is invited to contribute ideas or <a href="https://github.com/ArielUmansky/xfici"> code </a>  
</p>
