<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	For any comments, ideas or suggestions, please contact us at umanskyariel@gmail.com
</p>

<p>
	Anyone is invited to contribute ideas or <a href="https://github.com/ArielUmansky/xfici"> code </a>  
</p>
