<li>
	<%= link_to user.name, user %>
	<% if current_user.admin? && current_user!=user %>
		|
		<%= link_to "Delete", user, method: :delete, confirm: "You sure?" %>
	<% end %>
	<% if current_user!=user %>
		|
		<%= link_to "Request Friendship", friendships_path(:friend_id => user), method: :post %>
	<% end %>

</li>